.footer {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 100;
  background-color: black;
  height: 50px;
  border-top: 1px solid gray;
}

.footerNavList {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.navItemImgAvatar {
  width: 24px;
  height: 24px;
  border-radius: 50px;
}

@media screen and (max-width: 750px) {
  .footer {
    display: block;
  }
}