.container {
  margin: 2% 10%;
  max-width: 100vw;
}

.exploreList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 4px;
}

.exploreContent {
  position: relative;
}

.exploreDarkOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.exploreContent:hover .exploreDarkOverlay {
  background: rgba(0, 0, 0, 0.6);
}

.exploreContentImg {
  width: 100%;
  max-width: 15vw;
  height: auto;
  border-radius: 5px;
  display: block;
}

.exploreContentHover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
  gap: 20px;
}

.likes,
.comments {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 5px;
}

.exploreContent:hover .exploreContentHover {
  display: flex;
}

/* Search */

.modalSearch {
  display: flex;
  margin-top: 20px;
  width: 37vh;
}

.exploreSearchSection {
  display: none;
  padding: 0 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.exploreSearchInput {
  width: 100%;
  padding: 16px 50px;
  border-radius: 50px;
  background-color: rgb(37, 41, 46);
  border: none;
  background-image: url('/public/nav-img/nav-img-svg/search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 16px;
}

@media screen and (max-width: 1024px) {
  .exploreList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1290px) {
  .container {
    margin: 2% auto;
    max-width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .exploreContentImg {
    max-width: 100%;
  }

  .exploreSearchSection {
    display: flex;
  }
}

@media screen and (max-width: 737px) {
  .container {
    margin: 0;
    max-width: 100vw;
  }
}