/* Global */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  background-color: rgb(12, 16, 20);
  color: white;
}

.main {
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

input {
  border: none;
  background-color: transparent;
  color: white;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #A8A8A8;
}

.container {
  margin: 2% 10%;
  max-width: 100vw;
}

@media (max-width: 1290px) {
  .container {
    margin: 2% auto;
    max-width: 100vw;
  }
}

